target/
.mvn/wrapper/maven-wrapper.jar
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Reports ###
regular-price-optimization-functional-test/out/

### db backups ###
*.bak
*.csv
