<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                        http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <activeProfiles>
        <activeProfile>github</activeProfile>
    </activeProfiles>

    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>artcentral</id>
                    <name>libs-release</name>
                    <url>https://artifactory-edge.kroger.com/artifactory/libs-release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>artsnapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://artifactory-edge.kroger.com/artifactory/libs-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>artcentral</id>
                    <name>plugins-release</name>
                    <url>https://artifactory-edge.kroger.com/artifactory/plugins-release</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>artsnapshots</id>
                    <name>plugins-snapshot</name>
                    <url>https://artifactory-edge.kroger.com/artifactory/plugins-snapshot</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>artcentral</id>
            <username>${env.ARTIFACTORY_SAAS_USERNAME}</username>
            <password>${env.ARTIFACTORY_EDGE_TOKEN}</password>
        </server>
        <server>
            <id>artsnapshots</id>
            <username>${env.ARTIFACTORY_SAAS_USERNAME}</username>
            <password>${env.ARTIFACTORY_EDGE_TOKEN}</password>
        </server>
        <server>
            <id>artifactory</id>
            <username>${env.ARTIFACTORY_SAAS_USERNAME}</username>
            <password>${env.ARTIFACTORY_EDGE_TOKEN}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>artremote</id>
            <mirrorOf>*,!artcentral,!artsnapshots,!artremote,!central</mirrorOf>
            <url>https://artifactory-edge.kroger.com/artifactory/remote-repos</url>
        </mirror>
    </mirrors>

    <pluginGroups/>

</settings>
